@import url("@shared/styles.css");

body {
  align-items: center;
  background-color: var(--color-n12);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 50rem) {
  main {
    border: 1px solid var(--color-p5);
    width: 40rem;
    height: min(60rem, 95vh);
  }
}

header {
  border-bottom: 1px solid var(--color-p5);
  padding: var(--size-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span {
  background: var(--color-p4);
  padding: var(--size-xs);
  border-radius: var(--size-md);
  font-size: var(--size-sm);
}

h1 {
  font-size: var(--size-2xl);
  font-family: var(--font-family-display);
  font-weight: 500;
  font-stretch: var(--font-stretch-max);
}

ul {
  flex-grow: 1;
  padding: var(--size-md);
  list-style: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
}

li {
  display: flex;
  flex-direction: column;
  gap: var(--size-3xs);
}
li.sent {
  align-items: flex-end;
}
li.received {
  align-items: flex-start;
}

li p {
  padding: var(--size-md);
  display: inline;
  border-radius: var(--size-xl);
  padding: var(--size-md);
  line-height: var(--line-height-normal);
}
li.sent p {
  background: var(--color-p4);
  border-bottom-right-radius: 0;
}
li.received p {
  background: var(--color-n10);
  border-top-left-radius: 0;
}

li span {
  color: var(--color-n6);
  font-size: var(--size-sm);
}

form {
  border-top: 1px solid var(--color-p5);
  flex-basis: 4rem;
  flex-shrink: 0;
  display: flex;
}

input {
  flex-grow: 1;
  border: none;
  background: transparent;
  padding: 0 var(--size-md);
  font-size: var(--size-md);
  color: var(--color-n1);
}
input:focus {
  outline: none;
}

button {
  background: var(--color-p4);
  color: var(--color-white);
  padding: 0 var(--size-xl);
  height: 100%;
  font-size: var(--size-md);
  border: none;
  cursor: pointer;
}
button:disabled {
  background: var(--color-p6);
  color: var(--color-n6);
  cursor: not-allowed;
}
